body{
  background-image: url(https://img.freepik.com/premium-vector/programming-code-coding-hacker-background-programming-code-icon-made-with-binary-code_127544-815.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
